@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    min-height: 100vh;
    background: url("../img/bg-header.png");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}

header nav{
    width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul a{
    color: #ffff;
    margin: 0 12px;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20px;
}

header ul a:hover{
    border-bottom: 1px solid #ffff;
} 

#hero{
    width: 84%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

#hero h2{
    font-size: 50px;
    color: yellow;
    font-weight: 600;
}

#hero h1{
    font-size: 30px;
    color: #ffff;
    font-weight: 400;
    margin-bottom: 80px;
}

#hero button{
    background: yellow;
    color: #666;
    padding: 10px 30px;
    font-size: 26px;
    border-radius: 10px;
}


#planes{
    width: 100%;
    position: relative;
    padding: 120px 0px;
    text-align: center;
}

#planes h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#planes p{
    font-size: 22px;
    margin-bottom: 50px;
}

#planes .fila{
    display: flex;
    justify-content: center;
}

#planes article{
    margin: 20px 50px;
    position: relative;
}

#planes article h3{
    position: absolute;
    color: yellow;
    top: 120px;
    width: 100%;
    text-align: center;
}


#destinos{
    width: 100%;
    padding: 120px 0 50px;
    background: url(../img/bg-destinos.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#destinos h2{
    color: yellow;
    font-size: 50px;
    margin-bottom: 50px;
}

#destinos .fila{
    display: flex;
    justify-content: center;
}

#destinos article{
    margin: 30px  180px;
}

#destinos h3{
    color: #ffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

#contacto{
    width: 100%;
    text-align: center;
    position: relative;
    padding: 80px 0;
    background: yellow;
}

#contacto h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#contacto p{
    font-size: 20px;
    margin-bottom: 30px;
}

#contacto form{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contacto form input{
    width: 38%;
    padding: 12px 20px;
    font-size: 20px;
    margin: 20px 0;
}
#contacto form select{
    width: 43%;
    padding: 12px 20px;
    font-size: 20px;
    margin: 20px;
}

#contacto button{
    background: 9404c;
    color: #ffff;
    font-size: 22px;
    padding: 12px 50px;
    border-radius: 6px;
}

footer{
    background: #000;
    color: #ffff;
    padding: 40px;
    text-align: center;
}